* {
    box-sizing: border-box;
}
body {
    margin: 0; 
}

.background-home {
    background-color: #355ac4;
    height: 100vh
}   

.nav {
    background-color: #ffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 130px;
    padding: 22px 22px;
}



.site-title {
    font-family: "Poppins", sans-serif;
    gap: 5;
    padding-top: 5px;
    color: #f6e673;
    font-weight: bold;
    font-size: 2.3rem;
    text-decoration: none;
    margin: 4;
    -webkit-text-stroke: 1px black;
}



.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem; 
}






.button {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 16px 10px;
    background-color: #598d39;
    color: black;
    text-align: center;
    border-radius: 200px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    width: 100px;
   
  }
  
  .button:hover {
    background-color: #45a049;
  }

  .scaled-image {
    width: 100%;
    margin-top: 25px;
  }

  .login-btn {
    bottom: 100px;
    margin-left: 880px;
    background-color: #e9d56e;
    color: black;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease-in-out;
}

.login-btn:hover {
    background-color: #45a049;
}

  





